* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mukta", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(240, 255, 129, 1) 0%,
    rgba(255, 124, 124, 1) 50%,
    rgba(255, 118, 215, 1) 100%
  );
}

.time_container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.timecontaier {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currtime {
  font-size: 6rem;
}