* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mukta", sans-serif;
  background: rgb(242, 255, 238);
  background: linear-gradient(
    90deg,
    rgba(242, 255, 238, 1) 0%,
    rgba(234, 255, 229, 1) 8%,
    rgba(193, 255, 183, 1) 50%,
    rgba(180, 242, 255, 1) 100%
  );
}

::placeholder {
  letter-spacing: 5px;
  color: rgb(221, 221, 221);
}

.header {
  position: relative;
  display: block;
  color: white;
  padding: 1rem 0;
}

.header::after {
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: -1;
}

.header > p {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  word-spacing: 5px;
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.input_container .inputs {
  background-color: white;
  box-shadow: 0 0 3px 0 lightgray;
  border-radius: 13px;
  width: 30%;
  padding: 2rem 1rem;
}

.input_container .myform {
  display: flex;
  flex-direction: column;
}

.input_container .myform .myinputs {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 0.5rem 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: block;
  outline: none;
}

.input_container .myform .myinputs:focus {
  border-color: rgba(180, 242, 255, 1);
}

.input_container .myform .btnadd {
  margin-top: 1em;
  width: 20%;
  background: rgb(242, 255, 240);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.container h2 {
  font-weight: 100;
  text-align: center;
}

.container .todos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .todos .todos_container {
  width: 300px;
  background-color: rgba(234, 255, 229, 1);
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem;
  cursor: pointer;
  overflow: hidden;
}

.container .todos .todos_container:hover .todos_title {
  color: lightgreen;
}

.container .todos .todos_container:hover .todos_list {
  animation-name: list;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
}

@keyframes list {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0px);
  }
}

.container .todos .todos_container .todos_title {
  border-bottom: 1px solid lightgreen;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  letter-spacing: 1px;
}

.container .todos .todos_container .todos_list {
  color: rgb(29, 29, 29);
  font-weight: 100;
  transition: 0.3s;
}

.container .todos .todos_container .icons {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.container .todos .todos_container:hover .icons {
  opacity: 1;
}

.container .todos .todos_container .icons .delete:hover {
  color: rgb(221, 77, 77);
}

.container .todos .todos_container .icons .edit:hover {
  color: rgb(77, 175, 221);
}

.container .todos .todos_container .icons .share:hover {
  color: rgb(77, 221, 96);
}

@media only screen and (max-width: 900px) {
  .input_container .inputs {
    width: 50%;
  }
}

@media only screen and (max-width: 700px) {
  .input_container .inputs {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .input_container .inputs {
    width: 90%;
  }
}
